
body {

  background-color:#eeeee7;
  font-family:Sans-Serif;
  font-size:1.0em;
  color:#999999;
  
}

#wrapper {

  width:720px;
  margin:0px auto;
  
}

#wrapper .search_box {

  font-size:1.04em;
  width:600px;
  padding:8px;
  
}

#wrapper .search_button {

  font-size:1.04em;
  width:120px;
  padding:8px;
  
}

#wrapper .search_result{

  background-color:#e4e7ee;
  margin-bottom:8px;
  padding:8px;
  
}

#wrapper .result_title{
  
}

#wrapper .result_title a {
  color:#347982;
  
}

#wrapper .result_date{
  
}

#wrapper .result_text{
  
}

#view {

  padding:8px;
  background-color:#e4e7ee;

}

#view .view_title {

}

#view .view_title h3 {

  color:#000000;
  font-family:serif;

}

#view .view_question_text {

}

#view .view_answer_text {

}